.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    overflow-y:auto;
    margin-bottom: 40px;
}

.gallery .instructionImg {
    border: 2px dashed white;
    border-radius: 20px;
    margin: 30px 20px 30px 20px
}

.gallery .instructionImg:hover {
    opacity: 0.6;
    transition: opacity 0.4s ease;
    border: 6px dashed white;
    transition: border 0.4s ease;
}

.gallery-title{
    width: 80%;
    height: 5%;
    text-align: center;
}


