.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #cbd5e0;
  text-align: justify;
}

.inputSection {
  width: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  width: 16rem;
}

.processingSection {
  width: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  width: 16rem;
}

.outputSection {
  margin-top: 2rem;
  width: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 16rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  justify-items: center;
  gap: 1rem;
  padding-bottom: 1.25rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.header {
  margin: 2rem 5rem 2rem 5rem;
  font-weight: 600;
  font-size: 2.25rem;
}

.textSection {
  margin-left: 5rem;
  margin-right: 5rem;
  max-width: 48rem;
  font-size: 1.25rem;
  font-weight: 300;
  color: #718096;
}

.imageSection {
  width: 16rem;
  height: 140px;
  color: transparent;
}

.textCenter {
  text-align: center;
}

@media (min-width: 1024px) {
 .lg\:mt-11 {
      margin-top: 2.75rem;
  }
}
