:root {
  --text-primary-light: #2f2e42;
  --text-primary-dark: white;

  --text-primary-light-reversed: white;
  --text-primary-dark-reversed: #2f2e42;

  --text-secondary-light: rgb(70, 70, 70);
  --text-secondary-dark: rgb(160, 160, 160);

  --bg-primary-light: rgba(255, 255, 255, 0.851);
  --bg-primary-dark: #2f2e42;

  --bg-primary-transparent-light: rgba(208, 208, 208, 0.532);
  --bg-primary-transparent-dark: #2f2e42c3;

  --bg-secondary-light: rgb(255, 255, 255);
  --bg-secondary-dark: #434058;

  --bg-navbar-light: rgb(104, 104, 255);
  --bg-navbar-dark: rgb(29, 29, 58);

  --accent-color-light: #2f2e42;
  --accent-color-dark: #91e3a9;

  --primary-blue: rgb(0, 0, 255);
  --secondary-blue: rgb(96, 96, 182);
}

.dark-theme {
  --text-primary: var(--text-primary-dark);
  --text-primary-reversed: var(--text-primary-dark-reversed);
  --text-secondary: var(--text-secondary-dark);
  --bg-primary: var(--bg-primary-dark);
  --bg-primary-reverse: var(--bg-primary-light);
  --bg-primary-transparent: var(--bg-primary-transparent-dark);
  --bg-secondary: var(--bg-secondary-dark);
  --bg-navbar: var(--bg-navbar-dark);
  --accent-color: var(--accent-color-dark)
}

.light-theme {
  --text-primary: var(--text-primary-light);
  --text-primary-reversed: var(--text-primary-light-reversed);
  --text-secondary: var(--text-secondary-light);
  --bg-primary: var(--bg-primary-light);
  --bg-primary-reverse: var(--bg-primary-dark);
  --bg-primary-transparent: var(--bg-primary-transparent-light);
  --bg-secondary: var(--bg-secondary-light);
  --bg-navbar: var(--bg-navbar-light);
  --accent-color: var(--accent-color-light)
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  background-color: var(--bg-primary);
}

main {
  position: relative;
  background-image: url('../assetImages/bg4.png') !important;
}

body {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-primary);
  background: var(--bg-primary);
  color: #fff;
}

main {
  width: 98vw;
  background: var(--bg-secondary);
  border-radius: 0.5rem;
  box-shadow: 0 0 5rem #0b0b0b;
}

nav {
  padding: 1rem 3rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  margin-left: auto;
  width: max-content;
  font-size: 1.2rem;
  color: var(--text-primary-reversed);
}

.navTitle .title {
  position: absolute;
  font-weight: 900;
  font-size: 3.5rem;
  top: 0px;
  color: var(--text-primary);
  opacity: 0.95;
}

.navTitle .title2 {
  position: absolute;
  font-weight: 900;
  font-size: 3.5rem;
  margin-left: 135px;
  top: 0px;
  color: #91e3a9;
}

nav ul li {
  color: var(--text-primary-reversed);
  position: relative;
}

.globalSearchBtn {
  border-radius: 5px;
  position: absolute;
  width: 24%;
  left: 38%;
}

nav ul li a {
  text-decoration: none;
  display: block;
  padding: 0.5rem;
  color: var(--text-primary-reversed);
  background-color: var(--bg-primary-reverse);
  border-radius: 6px;
}


nav ul li:hover a {
  color: white;
}

nav ul li:hover::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background: white;
  box-shadow: 2px 4px 8px rgb(0, 0, 0);
  transition: all 0.3s ease;
}

h2,
h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-primary)
}

p {
  color: var(--text-primary)
}

button,
input[type="submit"],
input[type="file"] {
  background: var(--accent-color);
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  color: var(--text-primary-reversed);
  font-size: 1.2rem;
}

.prompt-button {
  background: var(--bg-primary);
  border: 1px solid var(--accent-color);
  cursor: pointer;
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin: 6px 8px 0 0px;
  color: var(--text-primary);
  font-size: 1.2rem;
}

.prompt-button.selected {
  background: var(--accent-color);
  color: var(--bg-primary);
}

header {
  height: 54vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem 3rem 1rem 3rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-primary);
}

header p {
  margin: 1rem 0;
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--text-primary);
  opacity: 0.8;
}

header img {
  width: 41%;
}

input[type="email"] {
  outline: none;
  background: transparent;
  border: 1px solid #dcdcdc74;
  border-radius: 0.2rem;
  padding: 0.45rem;
  height: 40px;
  font-size: 1.2rem;
  min-width: 200px;
  color: var(--text-primary);
}

input[type="text"] {
  outline: none;
  background: transparent;
  border: 1px solid #dcdcdc74;
  color: white;
  border-radius: 0.2rem;
  padding: 0.45rem;
  margin: 20px 10px 10px 0px;
  height: 40px;
  font-size: 1.2rem;
  min-width: 200px;
}

textarea {
  outline: none;
  background: transparent;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  border-radius: 0.2rem;
  padding: 10px;
  margin: 0px 10px 10px 0px;
  height: 100px;
  font-size: 1.2rem;
  min-width: 200px;
  width: 100%;
  resize: vertical;
}

::placeholder {
  color: var(--accent-color);
}

.features {
  display: flex;
  justify-content: center;
  gap: 5rem;
  border-radius: 0.25rem;
  background: var(--bg-primary-transparent);
  padding: 2rem;
  margin: 0 3rem 3rem 3rem;
}

.features a {
  max-height: 300px;
}

.checkItOut {
  float: inline-start;
  margin-top: 50px;
  text-align: center;
  position: relative;
  max-width: 150px;
  max-height: 150px;
  font-size: 2rem;
  color: var(--text-primary);
  text-decoration: none !important;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  font-size: 0.75rem;
  max-width: 300px;
  background: #252334;
  border: 1px dashed white;
  border-radius: 20px;
}

.feature:hover {
  opacity: 1.5;
  border: 6px dashed white;
  transform: translateY(-4px);
  transition: opacity 0.4s ease, border 0.4s ease, transform 0.4s ease;
}


.feature img {
  width: 150px;
  height: 150px;
}

.feature-name {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0 1rem 0rem 1rem;
  text-decoration: none !important;
  color: white;
}

.arrow-wrap {
  position: relative;
  z-index: 1;
  top: 10%;
  left: 5%;
  background: #111;
  width: 8em;
  height: 8em;
  padding: 3em 1.5em;
  border-radius: 50%;
  font-size: 0.5em;
  display: block;
  box-shadow: 0px 0px 5px 0px #333;
  transition: opacity 0.3s ease;
  /* Smooth transition for the hover effect */
}

.arrow-wrap:hover {
  opacity: 0.5;
}

.arrow {
  float: left;
  position: relative;
  border-style: solid;
  border-width: 40px 40px 0 40px;
  border-color: #ffffff transparent transparent transparent;
}

.arrow:after {
  content: '';
  position: absolute;
  top: -3.5em;
  left: -3em;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #111 transparent transparent transparent;
}

.feature-note {
  opacity: .8;
  font-size: 0.9rem;
  padding: 0 20px 20px 20px;
  text-decoration: none !important;
  color: white;
}

/* GENERATE IMAGE */
.single-feature-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  border-radius: 0.25rem;
  background: var(--bg-primary);
  padding: 2rem;
  margin: 0 2rem 1rem 2rem;
}

.single-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  font-size: 0.75rem;
  min-width: 70%;
  margin-left: 30px;
  min-height: 75vh;
  background: #252334;
}

.single-feature img {
  width: 650px;
  height: 650px;
}

.single-feature-name {
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0 1rem 1rem 1rem;
}

.single-feature-note {
  opacity: .8;
  font-size: 0.9rem;
  padding: 0 20px 20px 20px;
  max-width: 650px;
  color: var(--text-primary-reversed)
}

.single-intro {
  width: 25%;
  justify-content: center;
}

.undo-button {
  min-width: 100%;
  background-color: coral;
  margin-top: 10px;
}

.default-options {
  margin-top: 10px;
}

.default-options input {
  display: block;
  width: 90%;
  margin-top: 5px;
}

.default-options-button {
  background-color: transparent;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.actionBtn {
  border-radius: 0.2rem;
  padding: 0.5rem;
  border: 1px solid white;
}

form {
  display: flex;
  flex-direction: row;
}

@media (max-width: 570px) {

  header img {
    display: none;
  }

  .features {
    flex-direction: column;
    align-items: center;
  }
}


@media (max-width: 400px) {
  form {
    width: auto;
  }

  input[type="submit"],
  input[type="email"] {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  nav ul {
    flex-wrap: wrap;
    width: auto;
  }
}

/* Loader */
.loader {
  border: 50px solid var(--bg-secondary);
  border-top: 50px solid var(--accent-color);
  border-radius: 50%;
  width: 360px;
  height: 360px;
  margin: 4rem;
  margin-top: 8rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#customFileInput {
  width: 100%;
  height: 75px;
  border: none;
  cursor: pointer;
  padding: 20px;
  text-align: center !important;
  font-size: 1.5rem !important;
}

#customFileInput::-webkit-file-upload-button {
  display: none;
}

#customFileInput::file-selector-button {
  display: none;
}

#customFileInput:hover {
  background-color: #dde0e3;
}

.gallery-hint {
  font-size: 0.8rem;
}